---
layout: quickstart
permalink: /quickstart/layout/step-2/
---

{% capture markdown %}

# Step 2: Add the Header

In this step we're going to layout the application and add a Header at the top of the page.


### Generate the Header Component

The Lore CLI includes a number of commands to create various types of project files. One of those commands is
`generate`, and we'll be using it to generate the `Header` component. Run the following command from the CLI:

```sh
lore generate component Header
```

This will generate a component called `Header` and place it at `src/components/Header.js`. The syntax of this file
will match whichever version of JavaScript you specified when you created the project (ES5, ES6 or ESNext) and will look
like this:

```js
var React = require('react');

module.exports = React.createClass({
  displayName: 'Header',

  propTypes: {},

  render: function () {
    return (
      <div></div>
    );
  }
});
```

If you're interested in learning more about the `generate` command see [the docs for the CLI](/cli/generate/component/).

### Modify the Header Component

Now that we've created the skeleton for the Header component, modify the render function to look like this:

```js
// src/components/Header.js
...
  render: function () {
    return (
      <nav className="navbar navbar-default navbar-static-top">
        <div className="container">
          <div className="navbar-header">
            <div className="navbar-brand">
              Lore Quickstart
            </div>
          </div>
        </div>
      </nav>
    );
  }
...
```

### Add the Header to the Layout

Finally we need to modify the output of the `Layout` component so the Header gets rendered to the browser. Import the
`Header` component into `Layout` and update the render function for `Layout` to look like this:

```js
// src/components/Layout.js
var Header = require('./Header');
...
  render: function() {
    return (
      <div>
        <Header />
        <div className="container">
          <div className="row">
            <div className="col-md-offset-3 col-md-6">
              {/* Feed will go here */}
            </div>
          </div>
        </div>
      </div>
    );
  }
...
```

### Visual Check-in

If everything went well, your application should now look like this.

<img class="drop-shadow" src="/assets/images/quickstart/layout/step-2.png">

## Code Changes

Below is a list of files modified during this step, as well as a visual diff to show you what was added or removed
between this step and the last one.

### src/components/Header.js

{% tabs tab1={"name": "Diff", "id": 1} | tab2={"name": "ES5", "id": 2} | tab2={"name": "ES6", "id": 3} | tab2={"name": "ESNext", "id": 4} %}
{% tab id=1, is_active=true %}
![New Lore App](/assets/images/quickstart/diffs/layout/step-2-header.png)
{% endtab %}
{% tab id=2 %}
```js
var React = require('react');

module.exports = React.createClass({
  displayName: 'Header',

  render: function () {
    return (
      <nav className="navbar navbar-default navbar-static-top">
        <div className="container">
          <div className="navbar-header">
            <div className="navbar-brand">
              Lore Tutorial
            </div>
          </div>
        </div>
      </nav>
    );
  }
});
```
{% endtab %}
{% tab id=3 %}
```js
// PASTE_HERE
```
{% endtab %}
{% tab id=4 %}
```js
// PASTE_HERE
```
{% endtab %}
{% endtabs %}

### src/components/Layout.js

{% tabs tab1={"name": "Diff", "id": 5} | tab2={"name": "ES5", "id": 6} | tab2={"name": "ES6", "id": 7} | tab2={"name": "ESNext", "id": 8} %}
{% tab id=5, is_active=true %}
![New Lore App](/assets/images/quickstart/diffs/layout/step-2-layout.png)
{% endtab %}
{% tab id=6 %}
```js
var React = require('react');
var Header = require('./Header');

module.exports = React.createClass({
  displayName: 'Layout',

  render: function() {
    return (
      <div>
        <Header />
        <div className="container">
          <div className="row">
            <div className="col-md-offset-3 col-md-6">
              {/* Feed will go here */}
            </div>
          </div>
        </div>
      </div>
    );
  }

});
```
{% endtab %}
{% tab id=7 %}
```js
// PASTE_HERE
```
{% endtab %}
{% tab id=8 %}
```js
// PASTE_HERE
```
{% endtab %}
{% endtabs %}


## Next Steps

Next we're going to [setup routing](../../routing/overview/).

{% endcapture %}
{{ markdown | markdownify }}
